.button {
  width: 156px;
  height: 45px;
  padding: 15px 30px;
  background-color: #8a2c2c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #6f2222;
}
